section#profile-id{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 4fr 1fr;
    grid-template-areas: "bio name upload blank edit";
    grid-column-gap: 50px;
    padding: 4em 4em 2em 4em;
}

div#bio{
    grid-area: bio;
}
div#name{
    grid-area: name;
}
div#add{
    grid-area: upload;
}
div#edit{
    grid-area: edit;
}
div#your-subject-1{
    padding: 4em 4em 2em 2em;
}
div#your-subject-2{
    padding: 4em 4em 2em 2em;
}



section#discussion-title{
    background: #337ab7;
    padding: 2em 0 2em 0;
}

#discussion-title h2{
    color: white;
}

section#discussion-field {
    margin: 0 auto;
    width: 65em;
}
div#discussion-sort{
    margin: 0 auto;
    width: 65em;
}

div.box{
    border-width: 6px;
}

div#discussion-sort{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 5fr;
    grid-template-areas: "alltopics none sortby category";
    grid-column-gap: 50px;
}

div#discussion-all-topics{
    grid-area: alltopics;
}
div#discussion-sort-by{
    grid-area: sortby;
}
div#discussion-category {
    grid-area: category;
}

section#person-nav-bar{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas: "none home subjects discussion biography none2";
    grid-column-gap: 50px;
    padding: 1em 2em 1em 2em;
    font-size: larger;
>>>>>>> 387df307c628da95eb4cef29c2eb12a275d9ca93
}

div#person-nav-home{
    grid-area: home;
}
div#person-nav-subjects{
    grid-area: subjects;
}
div#person-nav-discussion{
    grid-area: discussion;
}
div#person-nav-biography{
    grid-area: biography;
}

div#topic-comments-sort-by{
    clear: right;
}

section#topic-title{
    background: #337ab7;
    padding: 2em 0 2em 0;
}

section#topic-title h2,h3{
    color:white;
    font-size: x-large;
}
section#topic-section{
    padding: 1em 0 1em 0;
}
#video-play{
    background: #1E2832;
    padding: 1em 0 0 0;
}