section#profile-id{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 4fr 1fr;
    grid-template-areas: "bio name upload blank edit";
    grid-column-gap: 50px;
    padding: 4em 4em 2em 4em;
}

div#bio{
    grid-area: bio;
}
div#name{
    grid-area: name;
}
div#add{
    grid-area: upload;
}
div#edit{
    grid-area: edit;
}
div#your-subject-1{
    padding: 4em 4em 2em 2em;
}
div#your-subject-2{
    padding: 4em 4em 2em 2em;
}

section#person-nav-bar{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas: "none home subjects discussion biography none2";
    grid-column-gap: 50px;
    padding: 1em 2em 1em 2em;
    font-size: larger;
}

div#person-nav-home{
    grid-area: home;
}
div#person-nav-subjects{
    grid-area: subjects;
}
div#person-nav-discussion{
    grid-area: discussion;
}
div#person-nav-biography{
    grid-area: biography;
}
